In [273]:
import pandas as pd
import json
from json import encoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [274]:
# import data from cleaned json file
file = open('cleaned_input_file.json')

In [275]:
# convert the input file to a dictionary
data_ls = json.load(file)
type(data_ls)

list

In [220]:
# convert the dictionary to a panda dataframe
data_df = pd.DataFrame(data_dc)

In [198]:
data_df.head()

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
0,Starbucks,"[42.3399145, -71.0887372]",Caffe Americano,Espresso shots topped with hot water create a ...,https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees
1,Starbucks,"[42.3399145, -71.0887372]",Caffe Misto,A 1-to-1 combination of fresh-brewed coffee an...,https://media-cdn.grubhub.com/image/upload/w_1...,425,Hot Coffees
2,Starbucks,"[42.3399145, -71.0887372]",Blonde Roast Coffee,"Lightly roasted coffee that's soft, mellow and...",https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees
3,Starbucks,"[42.3399145, -71.0887372]",Featured Starbucks Dark Roast Coffee,"This full-bodied dark roast coffee with bold, ...",https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees
4,Starbucks,"[42.3399145, -71.0887372]",Pike Place Roast Coffee,From our first store in Seattle's Pike Place M...,https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees

In [221]:
# check for null values in the dataframe
print(data_df.isnull().sum())

shop_name           0
location            0
dish_name           0
dish_description    0
dish_image_link     0
dish_price          1
dish_category       0
dtype: int64

In [222]:
# find the null price (just for fun)
data_df[data_df.isnull().any(axis=1)]

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
103,Starbucks,"[42.3399145, -71.0887372]",Water,The essential refresher.,https://media-cdn.grubhub.com/image/upload/w_1...,None,Cold Drinks

In [223]:
# drop the null price row
df_clean = data_df.dropna(subset=['dish_price'])
df_clean.describe()

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
count,261,261,261,261,261,261,261
unique,2,2,241,245,247,67,25
top,Starbucks,"[42.3399145, -71.0887372]",Avocado Spread,Spruce up your sandwich or sous vide egg bites...,https://media-cdn.grubhub.com/image/upload/w_1...,495,Cold Drinks
freq,166,166,4,4,4,24,27

In [239]:
# Convert dish_category to numerical values using LabelEncoder
le = LabelEncoder()
df_clean.loc[:, 'dish_category_encoded'] = le.fit_transform(df_clean['dish_category'])

In [319]:
scaler = StandardScaler()
# df_clean.loc[:, 'price_normalized'] = scaler.fit_transform(pd.Series(df_clean[['dish_price']]))
encoder.FLOAT_REPR = lambda o: format(o, '.2f')

#df_clean_encoded = df_clean.drop('dish_category_encoded', axis = 1)

# with open('cleaned_input_file1.json', 'w') as w:
#     json.dump(df_clean.values.tolist(), w, indent = 4)

KeyError: "['dish_category_encoded'] not found in axis"

In [320]:
df_clean.head()

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
0,Starbucks,"[42.3399145, -71.0887372]",Caffe Americano,Espresso shots topped with hot water create a ...,https://media-cdn.grubhub.com/image/upload/w_1...,3.45,Hot Coffees
1,Starbucks,"[42.3399145, -71.0887372]",Caffe Misto,A 1-to-1 combination of fresh-brewed coffee an...,https://media-cdn.grubhub.com/image/upload/w_1...,4.25,Hot Coffees
2,Starbucks,"[42.3399145, -71.0887372]",Blonde Roast Coffee,"Lightly roasted coffee that's soft, mellow and...",https://media-cdn.grubhub.com/image/upload/w_1...,3.45,Hot Coffees
3,Starbucks,"[42.3399145, -71.0887372]",Featured Starbucks Dark Roast Coffee,"This full-bodied dark roast coffee with bold, ...",https://media-cdn.grubhub.com/image/upload/w_1...,3.45,Hot Coffees
4,Starbucks,"[42.3399145, -71.0887372]",Pike Place Roast Coffee,From our first store in Seattle's Pike Place M...,https://media-cdn.grubhub.com/image/upload/w_1...,3.45,Hot Coffees

In [322]:
output_ls = []
for i in range(0, 260):
    s_se = df_clean.iloc[i].reset_index(drop=True)
    s_rename = s_se.rename({0: 'shop_name', 1: 'location', 2: 'dish_name', 3: 'dish_description', 4: 'dish_image_link', 5: 'dish_price', 6: 'dish_category'})
s_rename
    output_ls.append(s_dc)
    
# x = df_clean.iloc[102:103, ]
# s_ser = df_clean.iloc[103].reset_index(drop=True).squeeze()
s_se = df_clean.iloc[0].reset_index(drop=True)
s_rename = s_se.rename({0: 'shop_name', 1: 'location', 2: 'dish_name', 3: 'dish_description', 4: 'dish_image_link', 5: 'dish_price', 6: 'dish_category'})
s_rename

shop_name                                                   Starbucks
location                                    [42.3399145, -71.0887372]
dish_name                                             Caffe Americano
dish_description    Espresso shots topped with hot water create a ...
dish_image_link     https://media-cdn.grubhub.com/image/upload/w_1...
dish_price                                                       3.45
dish_category                                             Hot Coffees
Name: 0, dtype: object