In [176]:
import pandas as pd
import json

In [195]:
# import data from cleaned json file
file = open('cleaned_input_file.json')

In [196]:
# convert the input file to a dictionary
data_dc = json.load(file)

In [197]:
# convert the dictionary to a panda dataframe
data_df = pd.DataFrame(data_dc)

In [198]:
data_df.head()

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
0,Starbucks,"[42.3399145, -71.0887372]",Caffe Americano,Espresso shots topped with hot water create a ...,https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees
1,Starbucks,"[42.3399145, -71.0887372]",Caffe Misto,A 1-to-1 combination of fresh-brewed coffee an...,https://media-cdn.grubhub.com/image/upload/w_1...,425,Hot Coffees
2,Starbucks,"[42.3399145, -71.0887372]",Blonde Roast Coffee,"Lightly roasted coffee that's soft, mellow and...",https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees
3,Starbucks,"[42.3399145, -71.0887372]",Featured Starbucks Dark Roast Coffee,"This full-bodied dark roast coffee with bold, ...",https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees
4,Starbucks,"[42.3399145, -71.0887372]",Pike Place Roast Coffee,From our first store in Seattle's Pike Place M...,https://media-cdn.grubhub.com/image/upload/w_1...,345,Hot Coffees

In [201]:
# check for null values in the dataframe
print(data_df.isnull().sum())

shop_name           0
location            0
dish_name           0
dish_description    0
dish_image_link     0
dish_price          1
dish_category       0
dtype: int64

In [205]:
# find the null price (just for fun)
data_df[data_df.isnull().any(axis=1)]

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
103,Starbucks,"[42.3399145, -71.0887372]",Water,The essential refresher.,https://media-cdn.grubhub.com/image/upload/w_1...,None,Cold Drinks

In [187]:
# there is one row with no price data, so drop it
df_clean = data_df.dropna(subset=['dish_price'])
df_clean.describe()

,shop_name,location,dish_name,dish_description,dish_image_link,dish_price,dish_category
count,261,261,261,261,261,261,261
unique,2,2,241,245,247,67,25
top,Starbucks,"[42.3399145, -71.0887372]",Avocado Spread,Spruce up your sandwich or sous vide egg bites...,https://media-cdn.grubhub.com/image/upload/w_1...,495,Cold Drinks
freq,166,166,4,4,4,24,27

In [167]:
with open('cleaned_input_file.json', 'w') as w:
    json.dump(output, w, indent = 4)